h2{
	
	font-style: 13px
}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	/* Styles */

@media only screen 
and (min-height : 424px) {
	/* Styles */
	body{
		background-color: red;
	}
}
@media only screen 
and (min-height : 425px) {
	/* Styles */
	body{
		background-color: blue;
	}
}
}
