 .box{
    width: 660px;
    height: 145px;
    background: blue;
    margin:0 auto;



  }
  @media only screen and (max-width: 1600px) {


    #blkwrapper > .msgwrp > .okz > p {
      font-size: 151.3%;
    }
    #blkwrapper {
     overflow: auto;

   }
   #blkwrapper > .msgwrp {

    width: 10.4375%;
    margin: 0 auto;
    font-size: 12px;
    width: 420px;


  }

  /*lista*/
  #blkwrapper > .msgwrp > .okz{
    margin-top: -20px;
    margin-right: -30px;
    width:50%;
    float: right;

  }
  /*stop*/
  #blkwrapper > .msgwrp > .stp > .stpimg{
    margin-top: 10px;
    width: 40%;
    float: left;

  }

  /*strzalka*/
  #blkwrapper > .msgwrp > .jclk > .arrblk{
    margin-top: 0px;
    margin-right: 70px;


  }
  /*kliknij*/
  #blkwrapper > .msgwrp > .jclk{

    margin-top: 200px;
  }
}

@media only screen and (min-width: 1601px) {
 .box{



 }
 #blkwrapper > .msgwrp > .okz > p {
  font-size: 201.3%;
}

#blkwrapper > .msgwrp {
  width: 23.4375%;
  margin: 0 4.21875% 0 4.21875%;
  margin-top: -440px;
  position: initial !important;
}

}


@media only screen and (max-height: 650px) {
  #blkwrapper > .msgwrp > .jclk > .arrblk{
    margin-top: 50px;
    margin-right: 0px;


  }

  .box{
    margin-top: 200px;


  }

  #blkwrapper > .msgwrp {
    position: fixed;
    bottom: 50px;
    left:20px;
    width: 200px;

  }
  #blkwrapper > .msgwrp > .okz > p {
    font-size: 101.3%;
  }

  #blkwrapper > .msgwrp > .okz > p + ul {
    font-size: 80%

  }
  #blkwrapper > .msgwrp > .okz > p + ul + p {

    font-size: 200%

  }

  #blkwrapper > .msgwrp > .okz{
 
    float: none;

  }
  /*stop*/
  #blkwrapper > .msgwrp > .stp > .stpimg{
  
    float: none;

  }

}




@media only screen and (min-height: 651px) {

  /*lista*/
  #blkwrapper > .msgwrp > .okz{
  
   

  }
  /*stop*/
  #blkwrapper > .msgwrp > .stp > .stpimg{
   
    

  }

  .box{
    margin-top: 270px;
  }

  #blkwrapper > .msgwrp {

    position: fixed;
    bottom: 20px;
    left:30%;
  }

}



</style>